/*Pantallas chicas*/

	*{
		box-sizing: border-box;
		font-family: 'Cabin Condensed', sans-serif;
		margin:0px;
		padding:0px;
	}	
	
	html{
		width: 100%;
		height: 100%;
	}
	
	body{
		background-image: url(../Mobile_First_CV/bgimage2.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;		
		width: 100%;		
	}	
	
	h1{
		text-align: center;
		font-weight: bold;
	}
	
	#desplegable{
		background-color: transparent;
		color:black;	
	}

	#desplegable .fa{
		background-color: transparent;
	}

	.menu-text{
		font-size: calc(2.2rem + 1vw);
		display:inline-flex;
		background-color: #70cddb;	
		border-radius: 5px;			
	}
	
	.dropdown-menu{
		background: #85e1f0;			
	}
	
	.btn-primary{
		color: transparent;    
		border-color: transparent;
	}
	
	.btn:focus, .btn:hover{
		border-color: transparent;
	}
	
	.dropdown-item{
		font-size: calc(1.7rem + 1vw);
	}
	
	.dropdown .dropdown-menu .dropdown-item:active{		
		background-color: white;		
	}
	
	.row{
		align-items: center;
		justify-content: center;	
		
	}
	
	.col-md-6{	
		display:flex;
		width: 100%;
		align-items: center;
		justify-content: space-around;			
	}

	.col-md-12{	
		display:flex;		
		align-items: center;	
		justify-content: flex-start;
		background-color: #e2f7fa;
		border-radius: 50px;	
		padding: 10px;	
	}

	img{
		border-radius: 30px;
	}
	
	p{
		font-size: calc(1.5rem + 2vw);
		line-height: 2;
		padding:5px;
	}

	span{
		font-size: 0.7em;		
	}
	
	#datos-personales p{
		background-color: #e2f7fa;
		border-radius: 50px;
		line-height: 2;		
		padding: 10px;
	}

	#Habilidades{
		background-color: #e2f7fa;
		border-radius: 50px;
	}	

	#Habilidades .col-md-6{
		justify-content: flex-start;	
	}	

	details summary{
		font-size: calc(0.9rem + 1vw);
		font-style: italic;
		width: fit-content;
		padding: 10px;
		border-radius: 10px;		
		background-color: rgb(198, 239, 243);
		opacity: 0.5;
	}

	details summary:hover{
		opacity: 1;
	}

	details p{		
		padding:5px;
		font-size: calc(1.2em + 1vw);
	}

	.fa{
		padding:5px;
		background-color: white;
		border-radius: 10px;
	}

	.fa-regular{
		padding:5px;
		background-color: white;
		border-radius: 10px;
	}

	.fa-w-14{
		color: rgb(54, 218, 54);				
	}

	.fa-envelope{
		color:rgb(250, 12, 12);	
	}

	.fa-paper-plane{
		color: rgb(32, 183, 234);	
	}

	a{
		color:black;
		font-size: calc(0.6em + 1vw);
		font-weight: bold;
	}	

	#tabs{
		display:none;
	}	

/*Pantallas medianas*/


@media screen and (min-width:768px) and (max-width:900px) {
	
	#tabs{
		display:flex;
		background-color: #70cddb;	
		justify-content: space-evenly;
		border-radius: 5px;			
	}
	
	.col-md-2{
		display:flex;
		background-color: #70cddb;		
		border-style: none;	
		justify-content: center;
		font-size: calc(2rem + 1vw);;	
	}	

	.col-md-2:hover, .col-md-2:active{
		background-color: white;
	}	
	
	.row{		
		padding:15px;
		margin:0;	
	}	

	p{
		font-size: calc(1rem + 2vw);		
	}	
	
	.dropdown{
		display:none;
	}	
}

@media screen and (min-width:901px){
	*{
		box-sizing: border-box;
		font-family: 'Cabin Condensed', sans-serif;
		margin:0px;
		padding:0px;		
	}	
	
	html{
		width: 100%;
		height: 100%;
	}
	
	body{
		background-image: url(../Mobile_First_CV/bgimage.jpg);
		background-position: center center;
		background-repeat: no-repeat;
		background-attachment: fixed;		
		width: 100%;		
	}	
	
	h1{
		text-align: center;
		font-weight: bold;
		font-size: calc(3rem + 1vw);
	}	
	
	#tabs{
		display:flex;
		background-color: #70cddb;	
		justify-content: space-evenly;		
		border-radius: 5px;			
	}
		
	.col-md-2{
		display:flex;
		background-color: #70cddb;		
		border-style: none;	
		justify-content: center;
		font-size: calc(2rem + 1vw);;	
	}

	.col-md-2:hover, .col-md-2:active{
		background-color: white;
	}	
	
	.row{		
		padding:15px;
		margin:0;			
	}	

	.col-md-6{	
		justify-content: space-around;	
		width: 50%;			
	}	

	#foto{
		width: 50%;	
		border-radius: 30px;	
	}	

	p{
		font-size: calc(1rem + 2vw);		
		width: 90%;
		padding:5px;
	} 
	
	#Habilidades{
		align-items: flex-start;		
	}

	details summary{
		font-size: calc(1rem + 1vw);
		font-style: italic;
	}
	
	details p{
		margin: 10px 10px;
		font-size: calc(1.3em + 1vw);
	}	

	.dropdown{
		display:none;
	}
	
}
